@import '../../styles/colors.sass'

.MyButton
    height: 64px
    width: 251px
    outline: unset
    background-color: $lightGrey
    border: none
    font-weight: 600
    font-size: 20px
    line-height: 24px
    border-radius: 4px
    transition: 0.2s ease
    color: $black

    &:hover
        background-color: lighten($lightGrey, 10)

    &:active
        color: lighten($black, 30)

.form
    width: 100%
    background-color: $primary
    color: $white

    &:hover
        background-color: lighten($primary, 5)

    &:active
        color: darken($white, 15)

    &:disabled
        background-color: lighten($primary, 10)

        &:active
            color: $white
        
